[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb

.DS_Store
Thumbs.db

.vscode/
.idea/

# Keep meta files
!*.meta


3d prj/Assets/LeartesStudios/CoffeeShopInterior/URP/CoffeeShopURP.unitypackage

3d prj/Assets/Proxy Games/Stylized Nature Kit Lite/Misc/HDRI.hdr

